body {
        background: black;
        font-weight: bold;
}

#h1 {
        padding: 0;
        font-size: 130px;
        position: relative;
        display: inline;
}

#about {
        font-size: 45px;
        position: relative;
        display: inline;
        /* color: white; */
        text-align: right;
        float: right;
        margin: 0px;
        top: 15px;
        right: 10px;
        max-width: 543px;
}
